doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="color-background")
    div(class="body-content")
      h1 Ball Machine Dashboard
      block content
