.color-palette-background {
    background-color: #542E71;
}

.color-palette-body-dark {
    background-color: #6A66A3;
}

.color-pallete-body-light {
    background-color: #84A9C0;
}

.color-pallete-foreground {
    background-color: #B3CBB9;
}

.color-pallete-text {
    color: #DDD8B8;
}
